@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji');
* {
  color: #FFEDE4;
  font-family: Monospace;
}
body {
  background-color: #301400;
  margin-top: 70px;
}
nav {
  background-color: #703700;
  border: #703700;
  padding: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
}
nav button {
  font-family: 'Noto Emoji';
  border: none;
  background: none;
  padding: 0;
  font-size: 15px;
  color: white;
}
blog {
  display: block;
  border: 3px solid #FFEDE4
}
